<div class="header">
  <h1 class="col-md-6 col-md-offset-2">Dashboard</h1>
</div>


<div class="belowHeader">
    <h2><u>List of upcoming events : </u></h2>

    <table class="table gridData table-hover">
      <thead>
      <tr>
        <th>Event Date</th>
        <th>Client</th>
        <th>Event Name</th>
        <th>Day(s)</th>
      </tr>
      </thead>
      <tbody>
      <% @upcoming_quotations.each do |quotation| %>
        <tr>
          <td><%= display_date(quotation.event_date)%></td>
          <td><%= quotation.client.company_name %></td>
          <td><%= quotation.event_name %></td>
          <td><%= quotation.days %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

</div>