<h1> Calendar </h1>
<% empty_date_lambda = lambda do |date| %>
  <%= link_to '+', new_quotation_path(:event_date => date), class: 'btn-xs btn btn-default calendar-event' %>
<% end %>

<%= calendar @all_quotations, :prev_text => '', :next_text => '', empty_date: empty_date_lambda do |quotation| %>
  <div><%= link_to Client.find(quotation.client_id).company_name, quotation_item_details_path(quotation), class: "btn calendar-event #{quotation.status}" %></div>
<% end %>
