<div class="header">
  <h1  class="col-md-6 col-md-offset-2 companyName"><%= @quotation.client.company_name %></h1>
</div>


<div class="belowHeader">
  <h3>Editing Quotation</h3>

  <%= render 'form' %>
</div>
