<div class="header">

 <h1  class="col-md-6 col-md-offset-2 companyName"><%= params[:company_name] %></h1>
</div>

<div class="belowHeader">
  <h3>Create New Quotation</h3><br>

    <%= render 'form' %>
</div>