<div class="header">
  <h1 class="col-md-6 col-md-offset-2">Taxes</h1>
</div>


<div class="belowHeader">
  <ul class="nav navbarTaxes">

      <li><%= link_to 'GST', :controller => 'service_taxes', :action => :index %></li>
      <li><%= link_to 'Input GST', :controller => 'incoming_service_taxes', :action => :index %></li>
      <li><%= link_to 'TDS', :controller => 'tds', :action => :index %></li>
      <li><%= link_to 'Payments', :controller => 'payments', :action => :filter %></li>

  </ul>

</div>
