/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap';

.header {
  width: 100%;
  height: 60px;
  text-align: justify;
  display: inline-block;
  border-bottom: 2px dotted #007ca3;
  margin-bottom: 15px;
}

.headerAfter{
  display: inline-block;
  float: right;
  vertical-align: baseline;

}

.navbar {
  font-size:13px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  background-color: #4d95b1;
border-bottom: solid #026890;
}

.navbar-inverse .navbar-nav > li > a{
  color: #FFF;
}

h1 {
  font-size: 22px;
  display: inline-block;
  color: #3f4950;
}


h2 {
  font-size: 15px;
}

.rest-of-the-world {
  background-color: #EFEFEF;
  font-family: Arial;
  font-size: 14px;
}

.next-month {
  @extend .glyphicon;
  @extend .glyphicon-chevron-right;
  float: right;
}

.previous-month {
  @extend .glyphicon;
  @extend .glyphicon-chevron-left;
  float: left;
}

.main {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgba(0,0,0,.3);
  box-shadow: 0 0 10px #999;
  float: left;
  min-height: 700px;
}

.logout {
  float: right;
}

.Pending {
  @extend .btn-xs;
  @extend .btn-warning;
}

.Confirmed {
  @extend .btn-xs;
  @extend .btn-success;
}

.Invoice {
  @extend .btn-xs;
  @extend .btn-danger;
}

input[type="submit"] {
  color: #fff;
  background-color: #007ca3;
  border-color: #cccccc;

}

form {
  label {
    @extend .control-label;
    color: #555;
  }

  textarea, input[type="text"], input[type="email"], input[type="password"], select {
    @extend .form-control;
    width: 30%;
  }

  .field {
    @extend .form-group;
  }
}

.info {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-info;
}

.default {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
}

.edit {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-primary;
}

.destroy {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-danger;
}

body {
  padding-top: 50px;
}

#error_explanation {
  background-color: lightcoral;

}

.field_container, .field_container li{
  float: left;
  width: 100%;
}

.field_container li{
  padding-bottom: 25px;
}

.field_container label{
  float: left;
  width: 20%;
  margin-right: 10px; 
  padding-top: 8px;
}

.field_container input{
  float: left;
}

.searchInput{
  height: 30px !Important;
}

.searchBtn{
  border-radius: 3px;
  padding: 4px 12px;
  margin-left: 15px;
}

.gridData{
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  margin: 20px 0;
  float: left;
  width: 100%;
}

.gridData thead{
  background-color: #EEE;
}

.gridData tr th, .gridData tr td{
  padding: 8px 5px;
  border-right: solid 1px #ccc;
  color: #3F4950;
}

.gridData .deleteBtn{
  font-size: 12px;
}

.gridData a{
  color: #007ca3;
}

a.info{
  color: #FFF;
}

.deleteBtn{
  background-color: #666 !Important;
  border-radius: 3px;
}


