/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap';

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

.rest-of-the-world {
  background-color: #ecf0f1;
}

.next-month {
  @extend .glyphicon;
  @extend .glyphicon-chevron-right;
  float: right;
}

.previous-month {
  @extend .glyphicon;
  @extend .glyphicon-chevron-left;
  float: left;
}

.main {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.logout {
  float: right;
}

.Pending {
  @extend .btn-xs;
  @extend .btn-warning;
}

.Confirmed {
  @extend .btn-xs;
  @extend .btn-success;
}

.Invoice {
  @extend .btn-xs;
  @extend .btn-danger;
}

input[type="submit"] {
  @extend .btn;
  @extend .btn-default;
}

form {
  label {
    @extend .control-label;
  }

  textarea, input[type="text"], input[type="email"], input[type="password"], select {
    @extend .form-control;
    width: 20%;
  }

  .field {
    @extend .form-group;
  }
}

.info {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-info;
}

.default {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
}

.edit {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-primary;
}

.destroy {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-danger;
}

body {
  padding-top: 50px;
}