.calendar td {
  height: 100px;
  width: 14.28%;
}

.calendar-event {
  width: 100%;
  display: block;
}

.month {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #ecf0f1;
  font-size: 18px;
}

.calendar .day.today {
  background: #3498db;
}
.calendar .day.not-current-month {
  background: #bdc3c7;
}
