
@media print{

  body
  {
    margin: 0 10mm 3mm 25mm;
    padding: 0;
  }


  hr {
    border-color: #000000;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    margin: 0 0 0px;
    height: 0;
  }

  .tac {
    list-style: disc;
    font-size: 11px;
  }

  .printInvoiceTable tr td{
    padding: 0px 5px 0px 5px;
    font-size: 11px;
  }

  .printInvoiceTable tr th{
    padding: 2px 0 0 2px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
  }

  .printLeft {
    float: left;
    width: 50%;
    font-size: 11px;
    line-height: 14px;

  }

  .printTaxDetails {
    float: left;
    width: 100%;
    font-size: 10px;
    line-height: 13px;

  }


  .printRight {
    text-align: right;
    font-size: 11px;
    line-height: 14px;

  }
}